@import "../../style/style.scss";

#org-page-intro {
  .card-header {
    padding: 0.2rem;
    background: $primaryColor;
    background: linear-gradient(
      45deg,
      rgba(0, 132, 203, 1) 0%,
      $lightPrimaryColor 100%
    );
    border-bottom: 3px solid $secondaryColor;
    h1,
    h2 {
      font-weight: normal;
      text-align: center;
      color: $offWhite;
      margin: 0.2rem;
    }
  }
}

.spacer {
  margin: 1rem;
}
