/*******************************
         Site Settings adopted from node_modules....semantic-ui
        //  TODO: needs styling, semantic theme needs to be compiled with it!!
*******************************/

/*-------------------
      Site Colors
--------------------*/

/*---  Colors  ---*/
$red: #db2828;
$orange: #f2711c;
$yellow: #fbbd08;
$olive: #b5cc18;
$green: #21ba45;
$teal: #00b5ad;
$blue: #2185d0;
$violet: #6435c9;
$purple: #a333c8;
$pink: #e03997;
$brown: #a5673f;
$grey: #767676;
$black: #1b1c1d;

/*---  Light Colors  ---*/
$lightRed: #ff695e;
$lightOrange: #ff851b;
$lightYellow: #ffe21f;
$lightOlive: #d9e778;
$lightGreen: #2ecc40;
$lightTeal: #6dffff;
$lightBlue: #54c8ff;
$lightViolet: #a291fb;
$lightPurple: #dc73ff;
$lightPink: #ff8edf;
$lightBrown: #d67c1c;
$lightGrey: #dcddde;
$lightBlack: #545454;

/*---   Neutrals  ---*/
$fullBlack: #000000;
$offWhite: #f9fafb;
$darkWhite: #f3f4f5;
$midWhite: #dcddde;
$white: #ffffff;

/*--- Colored Backgrounds ---*/
$redBackground: #ffe8e6;
$orangeBackground: #ffedde;
$yellowBackground: #fff8db;
$oliveBackground: #fbfdef;
$greenBackground: #e5f9e7;
$tealBackground: #e1f7f7;
$blueBackground: #dff0ff;
$violetBackground: #eae7ff;
$purpleBackground: #f6e7ff;
$pinkBackground: #ffe3fb;
$brownBackground: #f1e2d3;

/*-------------------
brandColors
--------------------*/

$primaryColor: $blue;
$secondaryColor: $black;

$lightPrimaryColor: $lightBlue;
$lightSecondaryColor: $lightBlack;

/*-------------------
     Breakpoints
--------------------*/

$mobileBreakpoint: 320px;
$tabletBreakpoint: 768px;
$computerBreakpoint: 992px;
$largeMonitorBreakpoint: 1200px;
$widescreenMonitorBreakpoint: 1920px;

/*******************************
           Power-User
*******************************/

/*-------------------
    Emotive Colors
--------------------*/

/* Positive */
$positiveColor: $green;
$positiveBackgroundColor: #fcfff5;
$positiveBorderColor: #a3c293;
$positiveHeaderColor: #1a531b;
$positiveTextColor: #2c662d;

/* Negative */
$negativeColor: $red;
$negativeBackgroundColor: #fff6f6;
$negativeBorderColor: #e0b4b4;
$negativeHeaderColor: #912d2b;
$negativeTextColor: #9f3a38;

/* Info */
$infoColor: #31ccec;
$infoBackgroundColor: #f8ffff;
$infoBorderColor: #a9d5de;
$infoHeaderColor: #0e566c;
$infoTextColor: #276f86;

/* Warning */
$warningColor: #f2c037;
$warningBorderColor: #c9ba9b;
$warningBackgroundColor: #fffaf3;
$warningHeaderColor: #794b02;
$warningTextColor: #573a08;
