$color1: rgba(134, 187, 216, 1);
$color2: rgba(25, 100, 126, 1);
$color3: rgba(0, 132, 203, 1);
$color4: rgba(246, 174, 45, 1);
$color5: rgba(56, 145, 166, 1);

$primaryColor: $color3;
$secondaryColor: $color4;
$lightPrimaryColor: $color5;
$lightSecondaryColor: $color1;
$darkPrimaryColor: $color2;
