@import "./_variables.scss";
@import "./colorScheme.scss";
@import "./_spacing.scss";

html {
  font-size: 18px;
  p {
    font-size: 18px;
  }
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #eee;
  background-image: url("../assets/background-tiles/waves-0.1.png");
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}
