@import "../../style/style.scss";

#org-page-contact {
  > h3 {
    padding: 0.5rem 1rem 1.25rem;
  }
  margin-bottom: 2rem;
  padding: 1.5rem 2rem 2rem;
  background: $offWhite;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);

  a {
    color: $primaryColor;
    &:hover {
      text-decoration: underline;
    }
  }
}
